.max-width-header{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background: black;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid white;
    .menu-main-menu-container{
    	width:100%;
    }
}

.right-side{
	width: 100%;
	padding-right:15%;
}

.top-nav-links{
	text-align: right;
	a{
	color: $orange;
	}
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    a{
    color:white;
    }
}

.logo img:hover {
	    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.icons{
	display: flex; 
	align-items: center;
    justify-content: space-between;
	a{
	background: $orange;
	color: white;
	i{
	padding:5px;
	}
	}
}